.mgl-10px {
    margin-left: 10px;
}

.mgl-30px {
    margin-left: 30px;
}

.mgr-30px {
    margin-right: 30px;
}

.mgt-15px {
    margin-top: 15px;
}

.mgt-30px {
    margin-top: 30px;
}

.mgt-65px {
    margin-top: 65px;
}

.mgt-85px {
    margin-top: 85px;
}
