main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    main, footer {
      padding-left: 0;
    }
}

.w-250px {
    width: 250px;
}


.fnt-sz-36px {
    font-size: 36px !important;
}

